graft packages

recursive-exclude __pycache__  *.pyc *.pyo *.orig
include *.py

# Include the README
include *.md

# Include the license file
include LICENSE.txt
include requirements*.*

prune .git
prune venv
